@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #1f2026;
}

.nav-link {
  color: #6b6d74;
  text-decoration: none;
}

.nav-link:hover {
  color: #d0fcf4;
}

.active {
  color: #d1d3da;
}
